DOMAIN=localhost:6767 # Your domain name
USERNAME=admin # The name of your blog and fediverse user
PORT=6767
PROTOCOL=https #set to http when doing testing
DISPLAY_NAME=My ActivityPub Blog #The name at the homepage and apub profile
BIO=An easy blog powered by Pubstatic #This is also the site's description
BLOG_PATH=/ #Change this if you're implementing this on top of an existing site.
