DOMAIN=localhost:6767 # Your domain name
USERNAME=admin # The name
PORT=6767
PROTOCOL=http #Set this to https when deploying (!!)
DISPLAY_NAME=My ActivityPub Blog #The name at the homepage and apub profile
BIO=An easy blog powered by Pubstatic #This is also the site's description
BLOG_PATH=/ #Change this if you're implementing this on top of an existing site.
