[Unit]
Description=Pubstatic Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/pubstatic/prod-pubstatic/start.sh

[Install]
WantedBy=multi-user.target
